* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    color: white;
    margin:0;
    background:cover;
    background-color: #262626;
    animation: stars 300s infinite;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .letter {
      margin-left: 100px;
      margin-right: 5px;
      padding: 5px;
      border: solid white 2px;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.7);
  }
  header {
    margin-top: 25px;
    color: white;
    font-family: 'Codystar', cursive;
    text-transform: uppercase;
  }
  
  header h1, h2 {
    line-height: 1;
    top:24px;
    text-align: center;
  }
  header h1 {
    color: #d55;
    font-size: 10vw;
  }
  header h2 {
    color: #d5d;
    font-size: 8vw;
  }
  #src {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    border: blue 1px solid;
    margin: 10px;
    padding: 5px;
  }
 .selected {
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
  }
  .blue {
    stroke: blue;
    stroke-width: 1px;
    fill-opacity: 0;
    width: 46px;
    height: 46px;
  }

  .bottom-cake {
    position: absolute;
    bottom: -100vw;
    width: 100%;
  }
  .up {
    animation: up-anim 10s infinite;
  }
  .down {
    animation: down-anim 10s infinite;
  }
  .expand {
    animation: expand-anim 4s infinite;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    opacity: 0;
  }
  @keyframes up-anim {
    100% {top: -50px}
  }
  @keyframes down-anim {
    100% {top: 1500px}
  }
  @keyframes expand-anim {
    from {height: 0px; width: 0px; opacity: 1;}
    50% {height: 100px; width: 100px}
    100% {opacity: 0;}
  }
  @keyframes stars {
    from {background-position-y: 0%}
    50% {background-position-y: 100%}
  }